{% extends "base.html" %}

{% block content %}
<article>
  <header>
    <h3>Privacy Notice</h3>
    <time datetime="2025-09-24">Last updated on 2025-09-24</time><br>
    <time datetime="2025-09-24">In effect since 2025-09-24</time>
  </header>
  <section>
    <h4>No Personal Data Collection</h4>
    <p>This website does not collect, store or process any personal data.</p>
    <h4>No Cookies Or Tracking</h4>
    <p>This website does not use cookies of any kind. There is no tracking and no analytics.</p>
    <h4>Local-only Data Storage</h4>
    <p>All your data is stored locally in browsers <a href="https://en.wikipedia.org/wiki/IndexedDB">IndexedDB</a>. This data never leaves your local device.</p>
    <h4>IP Address Handling</h4>
    <p> When you access this site, your IP address is transmitted as part of the normal operation of the internet.<br>
    This website is hosted by GitHub Pages, a service provided by GitHub, Inc.<br>
    We do not access, log, or store your IP address. However, GitHub may log IPs and other metadata as part of their standard server operations.<br>
    For details, see <a href="https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement">GitHub’s Privacy Statement</a></p>
    <h4>Your Privacy Rights</h4>
    <p>Since we do not collect or process any personal data:
      <ul>
        <li>Right to Access – Not applicable (we do not hold your data)</li>
        <li>Right to Deletion – You can delete all local data by clearing your browser's site data</li>
        <li>Right to Correction – All data is controlled by you and stored locally</li>
        <li>Right to Object or Withdraw Consent – Not applicable (we do not process data based on consent)</li>
        <li>Right to Data Portability – Not applicable (no data is transmitted or stored by us)</li>
      </ul>
    </p>
    <h4>Contact</h4>
    <p>Please use the email adress listed on my <a href="https://github.com/tsurai/">github profile</a> or <a href="https://github.com/tsurai/idn/issues">open an issue</a>.</p>
  </section>
</article>
{% endblock content %}
