{% extends "base.html" %}

{% block func %}
await idn.review();
{% endblock func %}
{% block content %}
<section id="card" class="vocab" data-mode="front">
  <input id="vocab_id" type="hidden"/>
  <div id="done">
    <h3>All reviews are done for now.</h3>
    <h4>Next reviews: <time id="review_time"></time></h4>
  </div>
  <dt><h3><dfn id="vocab" lang="id">&nbsp;</dfn></h3></dt>
  <div id="back">
    <dd lang="en">
      <div id="pos"></div>
      <div id="meaning"></div>
      <span id="detail"></span>
      <hr>
      <div id="sentences"></div>
    </dd>
  </div>
  <button class="purple" id="flip">Show answer</button>
  <fieldset>
    <button class="answer purple" value="0">Again</button>
    <button class="answer purple" value="1">Hard</button>
    <button class="answer purple" value="2">Good</button>
    <button class="answer purple" value="3">Easy</button>
  </fieldset>
</section>
{% endblock content %}
